<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>Registrati</h3>
    <form action="/registra" method="post">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
      <label for="user">Tipo User</label>
      <input type="text" name="user" id="user" />
      <button type="submit">Registrati</button>
    </form>
  </body>
</html>
