<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Login Tutorial</title>

    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>


    <form action="/login" method="POST">
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="email" placeholder="Email" id="e-mail" name="e-mail" required>

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="password" required>

        <button type="submit">Log In</button>

        <div class="social">
            <div class="go"><i class="fab fa-google"></i> Google</div>
            <div class="fb"><i class="fab fa-facebook"></i> Facebook</div>
        </div>

    </form>
    <a href="/create_account" class="create-account-link">
        <button type="button" class="create-account">Create Account</button>
    </a>

    <!-- Script alert errore-->
    {% if alert %}
    <script>
        alert("{{ alert }}");
    </script>
    {% endif %}
    
</body>

</html>